<p>[LAST NAME:{{ lastname }}]</p>
<p>[FIRST NAME:{{ firstname }}]</p>
<p>[MIDDLE NAME:{{ middlename }}]</p>
<p>[IIN:{{ iin }}]</p>
<p>[TYPE:{{ type }}]</p>
<p>[FILIAL:{{ city }}]</p>
<p>[MOBILE PHONE:{{ phone }}]</p>
<p>[PRODUCT:{{ product }}]</p>
<p>[AMOUNT:{{ amount }}]</p>
<p>[OPPTY ID:{{ operation_id }}]</p>